<img [src]="recipeDetail.imagePath" style="height: 200px; width: 300px">
<h1>{{recipeDetail.name}}</h1>
<button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Manage Recipe <mat-icon>arrow_drop_down</mat-icon>
 </button>
 <mat-menu #menu="matMenu">
    <button mat-menu-item (click) = 'toShoppingList()'>To Shopping List</button>
    <button mat-menu-item [routerLink] = '["edit"]'>Edit Recipe</button>
    <button mat-menu-item (click) = 'onDelete()'>Delete Recipe</button>
  </mat-menu>
 <p>{{recipeDetail.description}}</p>
 <mat-list role="list">
  <mat-list-item role="listitem" *ngFor = 'let ingredient of recipeDetail.ingredients'>{{ingredient.name}} - {{ingredient.amount}}</mat-list-item>
</mat-list>
 
