.container {
    width: 1000px;
    background-color: #ffcc33;
    margin: auto;
}

.recList {
    width: 300px;
    float: left;
    padding-right: 200px;
}
.recDetail {
 width: 300px;
 float: left;
 padding-left: 200px;
}