<form class="example-form">
    <mat-form-field class="example-full-width">
      <input #inputName matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input #inputAmount matInput placeholder="Amount">
    </mat-form-field>
</form>
<button mat-raised-button color = 'primary' style="margin-right:5px" (click) = 'add()'>Add</button>
<button mat-raised-button color = 'warn' style="margin-right:5px">Delete</button>
<button mat-raised-button color = 'accent'>Clear</button>

